/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* FONT */
$font-family: "Poppins", sans-serif;

/* COLORS */
$color-red: #ff0157;
$color-black: #111;
$color-light: #eee;
$color-white: #fff;

/* BOX-SHADOW */
$box-shadow: 0 0.1rem 1.5rem rgba(0, 0, 0, 0.1);
