/* RESET COMPONENTS */
/* VARIABLES */
/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* FONT */
/* COLORS */
/* BORDER */
/* BOX-SHADOW */
/* TEXT-SHADOW */
/* BASE */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

a {
  text-decoration: none;
}

input[type="submit"],
button,
select {
  border: none;
  cursor: pointer;
}

input,
textarea,
select {
  font-family: inherit;
  border: none;
  resize: none;
}

ul,
ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* BANNER */
.banner {
  padding: 0;
}

.banner .slide {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  text-align: center;
}

.banner .slide .content {
  display: none;
  width: 100%;
  max-width: 80rem;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-4rem) scale(0);
            transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(-4rem) scale(0);
            transform: translateY(-4rem) scale(0);
    opacity: 0;
  }
}

.banner .slide .content span {
  font-size: 2rem;
  color: #fff9;
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
          animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
}

.banner .slide .content h2 {
  font-size: 8rem;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
  line-height: 1;
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;
          animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;
}

.banner .slide .content h2:last-of-type {
  margin-bottom: 1rem;
}

.banner .slide .content a {
  -webkit-animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.8s backwards;
          animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.8s backwards;
}

.banner .swiper-slide-active .content {
  display: inline-block;
}

.banner .swiper-button-prev,
.banner .swiper-button-next {
  top: initial;
  bottom: 0;
  right: 0;
  left: initial;
  background-color: #fff;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.banner .swiper-button-prev::after,
.banner .swiper-button-next::after {
  font-size: 1.6rem;
  color: #222;
}

.banner .swiper-button-prev:hover,
.banner .swiper-button-next:hover {
  background-color: #8e44ad;
}

.banner .swiper-button-prev:hover::after,
.banner .swiper-button-next:hover::after {
  color: #fff;
}

.banner .swiper-button-prev {
  right: 4rem;
}

@media screen and (max-width: 992px) {
  .banner .slide .content h2 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 768px) {
  .banner .slide .content h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 480px) {
  .banner .slide .content h2 {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=banner.css.map */