/* RESET COMPONENTS */
@import "../default/reset.scss";

/* BANNER */
.banner {
  padding: 0;

  .slide {
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-position: center !important;
    background-size: cover !important;
    text-align: center;

    .content {
      display: none;
      width: 100%;
      max-width: 80rem;

      @keyframes fadeIn {
        0% {
          transform: translateY(-4rem) scale(0);
          opacity: 0;
        }
      }

      span {
        font-size: 2rem;
        color: $color-light-white;
        animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards;
      }

      h2 {
        font-size: 8rem;
        color: $color-white;
        text-transform: uppercase;
        text-shadow: $text-shadow;
        line-height: 1;
        animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards;

        &:last-of-type {
          margin-bottom: 1rem;
        }
      }

      a {
        animation: fadeIn 0.2s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.8s backwards;
      }
    }
  }

  .swiper-slide-active .content {
    display: inline-block;
  }

  .swiper-button-prev,
  .swiper-button-next {
    top: initial;
    bottom: 0;
    right: 0;
    left: initial;
    background-color: $color-white;
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    transition: 0.3s linear;

    &::after {
      font-size: 1.6rem;
      color: $color-black;
    }

    &:hover {
      background-color: $color-purple;

      &::after {
        color: $color-white;
      }
    }
  }

  .swiper-button-prev {
    right: 4rem;
  }
}

@media screen and (max-width: 992px) {
  .banner .slide .content {
    h2 {
      font-size: 6rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .banner .slide .content {
    h2 {
      font-size: 4rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .banner .slide .content {
    h2 {
      font-size: 3rem;
    }
  }
}
