/* RESET COMPONENTS */
@import "../default/reset.scss";

/* FORM */
.form {
  .form-booking {
    margin: 0 auto;
    padding: 2rem;
    box-shadow: $box-shadow;
    background-color: $color-light-bg;
    width: 100%;
    max-width: 90rem;

    .box-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      justify-content: space-between;
      grid-gap: 1rem;
      margin-bottom: 1rem;

      label {
        display: inline-block;
        font-size: 1.2rem;
        color: $color-light-black;
        margin-bottom: 1rem;
      }

      .input-box {
        width: 100%;
        font-size: 1.4rem;
        color: $color-black;
        padding: 1rem;
        border: $border;

        &:focus {
          background-color: $color-black;
          color: $color-white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .form .form-booking .box-container {
    grid-template-columns: 100%;
  }
}
