.about span {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-green);
  text-align: center;
}

.about h2 {
  font-size: 2.4rem;
  color: var(--color-black);
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  align-items: center;
}

.about .container .content h3 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-black);
}

.about .container .content p {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: var(--color-medium);
}

.about .container .content p:last-of-type {
  margin-bottom: 2rem;
}

.about .container .content .icon-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.about .container .content .icon-container .icon {
  flex: 1 1 17rem;
  background-color: var(--color-clear);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  border-radius: 0.5rem;
}

.about .container .content .icon-container .icon i {
  font-size: 1.4rem;
  color: var(--color-green);
  margin-right: 1rem;
}

.about .container .content .icon-container .icon small {
  font-size: 1.2rem;
  color: var(--color-black);
}

@media screen and (max-width: 768px) {
  .about .container {
    grid-template-columns: 100%;
  }
}
