.footer {
  padding: 2rem 5%;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.footer .container .box {
  flex: 1 1 20rem;
}

.footer .container h3 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-black);
  margin-bottom: 1rem;
}

.footer .container a {
  position: relative;
  display: block;
  font-size: 1.2rem;
  color: var(--color-black);
  margin-bottom: 0.5rem;
  transition: 0.5s ease;
}

.footer .container a:hover {
  color: var(--color-green);
  left: 1rem;
}

.footer .container a i {
  margin-right: 0.5rem;
  color: var(--color-green);
}
