/* SECTION COMPONENTS */
section {
  padding: 5rem 7%;
}

/* HEADING */
.heading {
  font-size: 2.4rem;
  color: var(--black-color);
  font-weight: 700;
  margin-bottom: 5rem;
  border-left: 1rem solid var(--yellow-color);
  padding-left: 1rem;
}

/* BUTTON */
.button {
  position: relative;
  display: inline-block;
  padding: 0.6rem 3rem;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 1.4rem;
  margin-bottom: 2rem;
  z-index: 0;

  &:hover {
    background-color: var(--yellow-color);
    color: var(--black-color);
  }
}
