/* VARIABELS */
@import url(./vars.css);

/* BASE */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family);
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--white-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--yellow-color);
  }
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

button,
input[type="submit"] {
  border: none;
  cursor: pointer;
}

input,
select,
textarea {
  font-family: inherit;
  resize: none;
  border: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
