.newsletter {
  margin-top: 72px;
}

.newsletter .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  background-color: var(--color-white-040);
  border-radius: var(--border-radius-lg);
}

.newsletter .content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 56px 48px;
}

.newsletter .content .description h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  margin-bottom: 16px;
}

.newsletter .content .description span {
  display: block;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  color: var(--color-white-700);
  font-weight: var(--font-weight-regular);
  margin-bottom: 40px;
}

.newsletter .content .description form {
  display: flex;
  gap: 20px;
}

.newsletter .content .description form input {
  width: 100%;
  padding: 8px 16px;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-semi-bold);
  border-radius: var(--border-radius-base);
  box-shadow: var(--box-shadow-large);
}

.newsletter .content img {
  max-width: 315px;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .newsletter .content .description form {
    flex-wrap: wrap;
  }

  .newsletter .content .description form button {
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .newsletter .content {
    grid-template-columns: 100%;
  }

  .newsletter .content .description {
    order: 2;
  }
}

@media screen and (max-width: 480px) {
  .newsletter .content .description {
    padding: 20px;
  }

  .newsletter .content .description form {
    flex-direction: column;
  }
}
