.offer {
  margin-top: 72px;
}

.offer .content .cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
}

.offer .content .cards-container > .card:first-child {
  grid-row: 1 / 3;
}

.offer .content .cards-container > .card:nth-child(n + 2) {
  display: grid;
  grid-template-columns: 0.4fr 0.6fr;
  max-height: 239px;
}

@media screen and (max-width: 1145px) {
  .offer .content .cards-container {
    display: flex;
    flex-wrap: wrap;
  }

  .offer .content .cards-container .card {
    flex: 1 1 400px;
  }

  .offer .content .cards-container > .card:nth-child(n + 2) {
    max-height: none;
    grid-template-columns: 100%;
  }

  .offer .content .cards-container .card .wrapper-slide img {
    min-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .offer .content .cards-container .card {
    flex: 1 1 100%;
  }
}
