.releases {
  margin-top: 72px;
}

.releases .content .headline .buttons-container input {
  display: none;
}

.releases .content .headline .buttons-container input:checked ~ label {
  background-color: var(--color-white);
  color: var(--color-primary);
}

@media screen and (max-width: 768px) {
  .releases .content .headline,
  .releases .content .headline .buttons-container {
    flex-wrap: wrap;
  }
}
