.aside {
  padding: 20px;
  height: 100vh;
}

.aside .top {
  margin-bottom: 20px;
}

.aside .top .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.aside .top .logo img {
  width: 40px;
}

.aside .top .logo h2 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  color: var(--color-neutral-100);
}

.aside .top .logo .close {
  display: none;
}

.aside .sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 90%;
}

.aside .sidebar a {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-inactive);
  gap: 10px;
  margin: 20px 0px;
  transition: all 300ms ease;
}

.aside .sidebar a h3 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.aside .sidebar a:last-child {
  position: absolute;
  bottom: 0;
}

.aside .sidebar a.active,
.aside .sidebar a:hover {
  color: var(--color-primary);
  border-left: 5px solid var(--color-primary);
  padding-left: 5px;
}

.aside .sidebar a .label-message {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  background-color: var(--color-danger);
  color: var(--color-neutral-200);
  padding: 5px 10px;
  border-radius: var(--border-radius);
}

@media screen and (max-width: 1400px) {
  .aside .top .logo h2,
  .aside .sidebar a h3 {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .aside {
    position: fixed;
    left: -100%;
    background-color: var(--color-background-main);
    width: 250px;
    height: 100vh;
    box-shadow: var(--box-shadow);
    z-index: 1;
    animation: showAside 300ms ease forwards;
  }

  @keyframes showAside {
    to {
      left: 0;
    }
  }

  .aside .top .logo .close,
  .aside .top .logo h2,
  .aside .sidebar a h3 {
    display: block;
  }

  .aside .top .logo .close {
    color: var(--color-neutral-200);
    cursor: pointer;
  }
}
