/* CONTAINER COMPONENT */
.container {
  padding: 20px 24px;
  margin: 0 auto;
  max-width: var(--main-width);
}

/* BUTTON */
.button-regular {
  font-weight: var(--font-weight-regular);
}

.button-bold {
  font-weight: var(--font-weight-bold);
}

.button-sm {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  padding: 8px 20px;
  border-radius: var(--border-radius-base);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: var(--box-shadow-large);
}

.button-base {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: 8px 16px;
  border-radius: var(--border-radius-base);
  transition: 0.2s ease-in;
  cursor: pointer;
  box-shadow: var(--box-shadow-large);
}

.button-none {
  color: var(--color-white-700);
}

.button-none:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.button-primary:hover,
.button-dark:hover,
.button-white {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.button-dark {
  background-color: var(--color-white-040);
  color: var(--color-white);
}

/* HEADLINE SECTION */
.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.headline h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
}

.headline .buttons-container i {
  margin-left: 10px;
}

@media screen and (max-width: 480px) {
  .headline {
    flex-wrap: wrap;
    gap: 20px;
  }
}

/* CARDS */
.card {
  position: relative;
  background-color: var(--color-white-040);
  border-radius: var(--border-radius-lg);
  border: 1px solid var(--color-white-150);
  overflow: hidden;
}

.card .wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.card .wrapper .wrapper-slide {
  display: flex;
  align-items: center;
}

.card .wrapper .wrapper-slide .slide {
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.card .wrapper .wrapper-slide .slide img {
  position: relative;

  left: 50%;
  transform: translateX(-50%);

  width: auto;
  height: 100%;
}

.card:hover .wrapper .wrapper-slide .slide img {
  opacity: 0.8;
}

.card .wrapper .slide-controls .prev-button,
.card .wrapper .slide-controls .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: var(--font-size-sm);
  color: var(--color-white);
  background-color: transparent;
  cursor: pointer;
}

.card .wrapper .slide-controls .prev-button {
  left: -50px;
}

.card .wrapper .fa-heart,
.card .wrapper .slide-controls .next-button {
  right: -50px;
}

.card:hover .wrapper .slide-controls .prev-button {
  transition: 0.2s ease-in;
  left: 20px;
}

.card:hover .wrapper .slide-controls .next-button {
  transition: 0.2s ease-in;
  right: 16px;
}

.card .wrapper .fa-heart {
  position: absolute;
  top: 20px;
  font-size: var(--font-size-xs);
  color: var(--color-primary);
  background-color: var(--color-white);
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow-default);
  cursor: pointer;
}

.card:hover .wrapper .fa-heart {
  transition: 0.2s ease-in;
  right: 20px;
}

.card .wrapper .label {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  line-height: var(--line-height-sm);
  border-radius: var(--border-radius-sm);
  padding: 1px 10px;
}

.card .wrapper .label-info {
  background-color: var(--color-info);
}

.card .wrapper .label-warning {
  background-color: var(--color-warning);
}

.card .info-container {
  padding: 10px;
}

.card .info-container .content {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--color-white-150);
}

.card .info-container .content .data {
  display: flex;
  justify-content: space-between;
}

.card .info-container .content span {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  margin-bottom: 4px;
}

.card .info-container .content h6 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--font-weight-bold);
  color: var(--color-white-700);
  margin-bottom: 4px;
}

.card .info-container .content p {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-danger);
  margin-bottom: 4px;
}

.card .info-container .content span.none {
  color: var(--color-white-700);
}

.card .info-container .content span.none i {
  margin-right: 4px;
}

.card .info-container .icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.card .info-container .icons-container .icon {
  flex: 1 1 100px;
  padding: 8px;
  background-color: var(--color-gray-900);
  border-radius: var(--border-radius-base);
  text-align: center;
}

.card .info-container .icons-container .icon i {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  color: var(--color-white);
  margin-bottom: 4px;
}

.card .info-container .icons-container .icon span {
  display: block;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
}

/* CHECK-BOX*/
.checkbox .chk {
  display: block;
  position: relative;
  padding-left: 20px;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
  cursor: pointer;
}

.checkbox .chk input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox .chk .check {
  position: absolute;
  width: 13.5px;
  height: 13.5px;
  border: 2px solid var(--color-white);
  border-radius: 2px;
  top: 3px;
  left: 0;
  opacity: 0.7;
}

.checkbox .chk input:checked ~ .check {
  border: solid var(--color-primary);
  opacity: 1;
}

.checkbox .chk .check:after {
  top: 0px;
  left: 2.5px;
  height: 7px;
  width: 5px;
  border: solid var(--color-primary);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox .check:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox .chk input:checked ~ .check:after {
  display: block;
}

/* CARDS BLOG */
.card-blog .cover {
  border-radius: var(--border-radius-lg);
  margin-bottom: 16px;
}

.card-blog h4 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xs);
  color: var(--color-danger);
  text-transform: uppercase;
  margin-bottom: 4px;
}

.card-blog p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-regular);
  color: var(--color-white-700);
  margin-bottom: 16px;
}

.card-blog .author {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-blog .author img {
  max-width: 44px;
}

.card-blog .author h5 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  margin-bottom: 4px;
}

.card-blog .author span {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-regular);
  color: var(--color-white);
}

.card-blog .author span i {
  margin-right: 4px;
  color: var(--color-white-700);
}

/* SLIDER */
.card-container {
  overflow: hidden;
}

.wrapper {
  position: relative;
}

.wrapper .wrapper-card {
  display: flex;
  align-items: center;
  min-width: 100%;
  margin-bottom: 32px;
}

.wrapper .wrapper-card .card-slide {
  margin-right: 24px;
  min-width: calc(calc(100% - 48px) / 3);
}

.wrapper .card-slide-controls .prev-button,
.wrapper .card-slide-controls .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-size: var(--font-size-xs);
  color: var(--color-white);
  background-color: var(--color-white-040);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .card-slide-controls .prev-button:hover,
.wrapper .card-slide-controls .next-button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.wrapper .card-slide-controls .prev-button {
  left: -48px;
}

.wrapper .card-slide-controls .next-button {
  right: -48px;
}

.wrapper .slide-navigation {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.wrapper .slide-navigation span {
  display: inline-block;
  width: 16px;
  height: 6px;
  border-radius: 40px;
  background-color: var(--color-white-700);
  cursor: pointer;
}

.wrapper .slide-navigation span:not(:last-child) {
  margin-right: 5px;
}

.wrapper .slide-navigation span:hover {
  background-color: var(--color-white);
}

.wrapper .slide-navigation span.active {
  width: 32px;
  background-color: var(--color-white);
}

@media screen and (max-width: 1400px) {
  .wrapper .card-slide-controls .prev-button,
  .wrapper .card-slide-controls .next-button {
    top: 100%;
  }

  .wrapper .card-slide-controls .prev-button {
    left: calc(100% - 96px);
  }

  .wrapper .card-slide-controls .next-button {
    right: 0;
  }
}

@media screen and (max-width: 992px) {
  .wrapper .wrapper-card .card-slide {
    min-width: calc(calc(100% - 24px) / 2);
  }
}

@media screen and (max-width: 530px) {
  .wrapper .wrapper-card .card-slide {
    min-width: 100%;
  }
}
